@model WebApplication.Models.Account

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    .otp-inputs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .otp-input {
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 24px;
        border: 1px solid #2c2e33;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s;
        background-color: #2A3038;
    }

        .otp-input:focus {
            border-color: #8f5fe8;
        }
</style>

<div class="card col-lg-4 mx-auto">
    <div class="card-body px-5 py-5">
        <h3 class="card-title text-left mb-3">Nhập email xác nhận</h3>
        <p>Chúng tôi sẽ kiểm tra và xác thực theo thông tin email bạn đã đăng ký trước đó</p>
        <br>

        @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
        {
            if (ViewBag.Message != null)
            {
                    <div class="alert alert-success">
                        <strong>Thành công!</strong>@ViewBag.Message
                    </div>
            }
        }
        else
        {
            using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="text-success p-2">
                    @ViewBag.Message
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email, "Email")
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control email_input" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
                <br>
                <div class="text-center">
                    <button id="emailConfirmBtn" type="submit" class="btn btn-info btn-block enter-btn" onclick="disableButton()">Gửi</button>
                </div>
            }
        }
    </div>
</div>

<script>
    
</script>

