@model WebApplication.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card col-lg-4 mx-auto">
    <div class="card-body px-5 py-5">
        <h3 class="card-title text-left mb-3">Đặt lại mật khẩu</h3>

        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="text-success p-2">
                @ViewBag.Message
            </div>
            @Html.HiddenFor(m => m.Token)
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, "Mật khẩu mới")
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, "Xác nhận mật khẩu")
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info btn-block enter-btn">Đặt lại mật khẩu</button>
                <a href="/dang-nhap" class="btn btn-secondary btn-block mt-2">Quay về</a>
            </div>
        }
    </div>
</div>
